.wrap {
  width: 85%;
  margin: auto auto ;
}

#startButton{
  width: 100px;
  margin: 0 auto;
  position: relative;
}

.medWidth{
  width:14%;
}

.bigWidth{
  width:85%;
}

.smWidth{
  width:10%;
}

.form-inline{
  padding-bottom: 1em;
}

.glyphicon.glyphicon-home {
    font-size: 25px;
}

.navbar-nav{
    font-size: 25px; 
}

.settings{
  float:left;
  width:22%;
}
