.wrap {
  width: 1500px;
  margin: auto auto ;
}

#startButton{
  width: 100px;
  margin: 0 auto;
  position: relative;
}

.medWidth{
  width:30%;
}

.bigWidth{
  width:69%;
}

.form-inline{
  padding-bottom: 1em;
}