{% extends "base.html" %} {% block content %}<h1 style="text-align:center">RESULTADOS</h1><table class="table table-striped"><tr><th>Tiempo activo</th><th>Tiempo en taller</th><th>Tiempo en stand_by</th><th>Vehiculos reparados</th></tr><tr><td>41%</td><td>54%</td><td>5%</td><td>920</td></tr><tr><td>40%</td><td>55%</td><td>4%</td><td>896</td></tr><tr><td>39%</td><td>57%</td><td>4%</td><td>889</td></tr><tr><td>42%</td><td>53%</td><td>5%</td><td>906</td></tr><tr><td>41%</td><td>54%</td><td>4%</td><td>929</td></tr><tr><td>39%</td><td>57%</td><td>4%</td><td>911</td></tr><tr><td>41%</td><td>54%</td><td>5%</td><td>894</td></tr><tr><td>40%</td><td>56%</td><td>4%</td><td>910</td></tr><tr><td>41%</td><td>55%</td><td>4%</td><td>899</td></tr><tr><td>41%</td><td>55%</td><td>4%</td><td>870</td></tr></table>    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var options = {
          title: 'Distribución promedio de tiempos'
        };

var data = google.visualization.arrayToDataTable([['Tiempo', 'Porcentaje'],['Tiempo activo',0.4061699207806],['Tiempo en taller',0.5508586822523001],['Tiempo en stand_by',0.0429713969671],]);        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script><div  id="piechart" style="width: 50%; height: 500px; margin: 0 auto;"></div>{% endblock %}