{% extends "base.html" %} 

{% block content %}
<!--Load the AJAX API-->
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    var data = []
    var options = []

    values = {{ values|safe }}
    titles = {{ titles|safe }}

    for (i = 0; i < values.length; i++) { 
      // Create the data table
      data.push(new google.visualization.arrayToDataTable(values[i]));

      // data.push(new google.visualization.arrayToDataTable(d));
      // Instantiate and draw our chart, passing in some options.

      if (i == 0){
        options.push({title: titles[i],
                      isStacked: 'true',
                      width:700,
                      height:500})

        chart = new google.visualization.AreaChart(document.getElementById('lines'+i));
      }else{
        options.push({title: titles[i],
                      width:1500,
                      height:500})

        chart = new google.visualization.LineChart(document.getElementById('lines'+i));
      }
      chart.draw(data[i], options[i]);
    }
  }
</script>
<!--Div that will hold the pie chart-->
<div class="center2" id="lines0"></div>
<div class="center2" id="lines1"></div>
<div class="center2" id="lines2"></div>
<div class="center2" id="lines3"></div>
<div class="center2" id="lines4"></div>


{% endblock %}